{% extends 'layout.html' %}

{% block content %}
<!--<h1>{{ user1.username }}님의 프로필페이지</h1>-->
<h1>님의 프로필페이지</h1>

<ul>
    <!--
        밑의 user1.storedfiles_set.all은
        python의 user1.storedfiles_set.all() 메서드에 해당.
        단, python은 위와 같은 callable 객체, 함수를
        템플릿 안에서 직접 하도록 하지 않는다.(소괄호)사용을 허용하지 않는다.
        템플릿에서 객체 이름이나 함수를 명시하면
        파이썬이 대신 호출해서 넘겨준다.
        (소괄호)사용을 못하니 직접 인자를 넘겨주지 못하는 단점이 있다.
     -->
    {% for storedfiles in user1.storedfiles_set.all %}
        <!--
            <li><a href="{{ storedfiles.thumnail.url }}" download="downloadedfile">
                {{ storedfiles.thumnail.url }}"
            </li></a>
        -->

        <li><img src="" /></li>

    {% empty %}
        <li>photo empty</li>
    {% endfor %}
</ul>


{% endblock %}